.github-corner svg {
    z-index: 1000;
}

/* TODO: insert main styles of your demo here */


.appear-example {
  opacity: 0;
  transition: all 1s ease-out;
  transform: translate3d(0, 50px, 0);
}

.appear-example--inViewport {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

